[submodule "android/app/jni/SDL"]
	path = android/app/jni/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.4.x
[submodule "android/app/jni/SDL_mixer"]
	path = android/app/jni/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
